.wc-kalkulator-wrapper html {
  scroll-padding-top: 100px;
}
.wc-kalkulator-wrapper p.add-buttons {
  line-height: 36px;
}
.wc-kalkulator-wrapper a.button.action-add-image {
  margin-bottom: 20px;
  margin-top: 20px;
  border: 1px solid #aaa;
  border-radius: 0;
  padding: 5px 10px;
}
.wc-kalkulator-wrapper a.button.action-add-attachment {
  margin-bottom: 10px;
}
.wc-kalkulator-wrapper ul#f-field-list {
  width: 100%;
}
.wc-kalkulator-wrapper ul#f-field-list * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wc-kalkulator-wrapper ul#f-field-list li {
  box-shadow: 0px 5px 10px #ccc;
  margin-bottom: 5px;
}
.wc-kalkulator-wrapper ul#f-field-list li .field {
  border: 1px solid #AAA;
  background-color: #FFFFFF;
}
.wc-kalkulator-wrapper ul#f-field-list li .field .header {
  padding: 8px;
}
.wc-kalkulator-wrapper ul#f-field-list li .field .header .text {
  font-size: 14px;
  color: #000;
  padding: 5px;
}
.wc-kalkulator-wrapper ul#f-field-list li .field .body {
  padding: 20px;
  border-top: 1px solid #AAA;
}
.wc-kalkulator-wrapper ul#f-field-list li .field .body .half {
  float: left;
  width: 50%;
}
.wc-kalkulator-wrapper ul#f-field-list li .field .body .second {
  padding-left: 10px;
}
.wc-kalkulator-wrapper ul#f-field-list li .field .body .first {
  padding-right: 10px;
}
.wc-kalkulator-wrapper ul#f-field-list li .field .body .fu-allowed-extensions {
  margin-top: 10px;
}
.wc-kalkulator-wrapper ul#f-field-list li .field .body label {
  font-size: 12px;
  margin-bottom: 3px;
  font-weight: 700;
}
.wc-kalkulator-wrapper ul#f-field-list li .field .body label.error {
  background-color: #E30000;
  color: #FFF;
  padding: 6px;
  margin: 6px 0 6px 0;
  box-sizing: border-box;
}
.wc-kalkulator-wrapper ul#f-field-list li .field .body .pair {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.wc-kalkulator-wrapper ul#f-field-list li .field .body .pair span.dashicons-no-alt {
  cursor: pointer;
  font-size: 28px;
  color: red;
}
.wc-kalkulator-wrapper ul#f-field-list li .field .body .pairs {
  margin-top: 20px;
}
.wc-kalkulator-wrapper ul#f-field-list li .field .body .pairs button {
  margin-right: 6px;
  margin-bottom: 6px;
}
.wc-kalkulator-wrapper ul#f-field-list li .field .body .pairs .importer {
  display: none;
  margin-top: 20px;
}
.wc-kalkulator-wrapper ul#f-field-list li .field .body .pairs .importer textarea {
  display: block;
  width: 100%;
  min-height: 200px;
  margin-bottom: 10px;
}
.wc-kalkulator-wrapper ul#f-field-list li .field .body .column {
  float: left;
}
.wc-kalkulator-wrapper ul#f-field-list li .field .body .column-1 {
  width: 40%;
  padding-right: 20px;
}
.wc-kalkulator-wrapper ul#f-field-list li .field .body .column-1-half {
  width: 20%;
  padding-right: 20px;
}
.wc-kalkulator-wrapper ul#f-field-list li .field .body .column-2 {
  width: 40%;
}
.wc-kalkulator-wrapper ul#f-field-list li .field .body .column-2-half {
  text-align: center;
  width: 20%;
}
.wc-kalkulator-wrapper ul#f-field-list li .field .body .column-1-2 {
  width: 80%;
}
.wc-kalkulator-wrapper ul#f-field-list li .field .body .column-3 {
  width: 10%;
  padding-left: 20px;
  text-align: center;
}
.wc-kalkulator-wrapper ul#f-field-list li .field .body .column-4 {
  width: 10%;
  text-align: center;
}
.wc-kalkulator-wrapper ul#f-field-list li .clear {
  clear: both;
}
.wc-kalkulator-wrapper ul#f-field-list li .field .header .dashicons, .wc-kalkulator-wrapper .input-group .dashicons {
  padding: 3px;
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
  color: #555;
}
.wc-kalkulator-wrapper ul#f-field-list li .field .header .left, .wc-kalkulator-wrapper .input-group .left {
  float: left;
}
.wc-kalkulator-wrapper ul#f-field-list li .field .header .right, .wc-kalkulator-wrapper .input-group .right {
  float: right;
}
.wc-kalkulator-wrapper ul#f-field-list li .field .body .param:not([type=checkbox]), .wc-kalkulator-wrapper ul#f-field-list li .field .body label {
  display: block;
  width: 100%;
}
.wc-kalkulator-wrapper ul#f-field-list li .field .body .param:not([type=checkbox]).inline, .wc-kalkulator-wrapper ul#f-field-list li .field .body label.inline {
  display: inline;
  margin-right: 10px;
  width: auto;
}
.wc-kalkulator-wrapper ul#f-field-list li .field .body .param.f-required, .wc-kalkulator-wrapper ul#f-field-list li .field .body .param.fdp-disallow-past-date, .wc-kalkulator-wrapper ul#f-field-list li .field .body .param[type=checkbox] {
  margin: 10px 15px 14px 3px;
}
.wc-kalkulator-wrapper ul#f-field-list li .field .body input[type=text].param,
.wc-kalkulator-wrapper ul#f-field-list li .field .body input[type=number].param,
.wc-kalkulator-wrapper ul#f-field-list li .field .body .pair input[type=text],
.wc-kalkulator-wrapper ul#f-field-list li .field .body .pair input[type=number] {
  margin-bottom: 20px;
  border: 1px solid #aaa;
  border-radius: 0;
  padding: 5px 10px;
}
.wc-kalkulator-wrapper ul#f-field-list li .field .body .pair input[type=text],
.wc-kalkulator-wrapper ul#f-field-list li .field .body .pair input[type=number] {
  width: 100%;
}
.wc-kalkulator-wrapper ul#f-field-list li .field .body .pair:after, .wc-kalkulator-wrapper .clearfix {
  content: "";
  display: block;
  clear: both;
}
.wc-kalkulator-wrapper .pr-20 {
  padding-right: 20px;
}
.wc-kalkulator-wrapper .input-icon {
  position: relative;
  font-family: monospace;
  width: 100%;
  margin: 10px 0 10px 0;
}
.wc-kalkulator-wrapper .input-icon i {
  font-family: monospace;
  font-size: 15px;
  position: absolute;
  display: block;
  top: 10px;
  pointer-events: none;
  width: 45px;
  text-align: right;
  font-style: normal;
  color: blue;
}
.wc-kalkulator-wrapper .input-icon input {
  border: 1px solid #aaa;
  border-radius: 0;
  padding: 5px 10px 5px 55px;
  width: 100%;
}
.wc-kalkulator-wrapper .input-if i::after {
  content: "if";
}
.wc-kalkulator-wrapper .input-equation i::after {
  content: "=";
}
.wc-kalkulator-wrapper #addon-inputs .input-equation i::after {
  content: "add";
}
.wc-kalkulator-wrapper .input-else i::after {
  content: "else";
}
.wc-kalkulator-wrapper .input-group {
  padding: 12px;
  border: 1px solid #AAA;
  background-color: #FFFFFF;
  margin-bottom: 5px;
}
.wc-kalkulator-wrapper .ui-autocomplete-loading {
  background-image: none !important;
}
.wc-kalkulator-wrapper .wc-product-search, .wc-kalkulator-wrapper .wc-category-search, .wc-kalkulator-wrapper .wc-enhanced-select, .wc-kalkulator-wrapper .wc-page-search {
  width: 100%;
}
.wc-kalkulator-wrapper span.formula-field {
  padding-right: 6px;
  cursor: pointer;
  font-weight: 700;
}
.wc-kalkulator-wrapper span.formula-field:hover {
  text-decoration: underline;
}
.wc-kalkulator-wrapper .wp-media-image-preview {
  max-width: 80px;
  max-height: 80px;
  cursor: pointer;
}
.wc-kalkulator-wrapper .wp-media-image-preview:hover {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
}
.wc-kalkulator-wrapper select.param {
  margin-bottom: 20px;
}
.wc-kalkulator-wrapper .iris-picker {
  position: absolute;
  z-index: 9999;
}
.wc-kalkulator-wrapper .fields-section {
  text-align: center;
  padding: 50px;
  margin: 0 auto;
  max-width: 500px;
}
.wc-kalkulator-wrapper .fields-section select, .wc-kalkulator-wrapper .fields-section button {
  font-size: 16px;
}
.wc-kalkulator-wrapper .fields-section select {
  width: 300px;
  padding: 5px 10px;
}
.wc-kalkulator-wrapper .fields-section button {
  width: 50px;
  padding: 3px 8px;
}
.wc-kalkulator-wrapper .fields-section button span {
  line-height: 2;
}

/*# sourceMappingURL=admin.css.map */
