p.wckalkulator-price {
    font-size: 20px;
    padding-top: 20px
}

.summary p.price, .summary span.price, .summary .woocommerce-Price-amount, .summary .reset_variations {
    display: none !important;
}